extends layout

block extraHeadersAdmin
    link(rel="stylesheet", href="/css/admin/addUser.css")
    script.
        var userInfoEditRole = "#{user.idRole}"
        var userInfoEditZone = "#{user.idZone}"
    script(src="/js/admin/addUser.js")

block contentAdmin
    form.ui.form(method="post",action="/"+langUsed+"/admin/user/add", onsubmit="controlForm(event)")
        input(name="idUser", type="hidden", value=user.id)
        h4.ui.dividing.header= langs.titleAddUser
        div.required.field
            label= langs.labelRole
            select#role(name="role",onchange="updateSelect(this)").ui.dropdown
                option(value="")= langs.optionRole
                option(value="1")= langs.optionBusDriver
                if userInformation.idRole == 3
                    option(value="2")= langs.optionZoneAdmin
                    option(value="3")= langs.optionSysAdmin
        div.required.field#usernameInput
            label= langs.labelUsername
            class.ui.input
                input#username(name="username",onkeyup="updateInput(this)", value=user.pseudo)
        div.required.field
            label= langs.labelPassword
            class#password1.ui.input
                input#password(name="password", type="password",onkeyup="updateInput(this)")
        div.required.field
            label= langs.labelPasswordConfirm
            class#password2.ui.input
                input#passwordConfirmation(name="passwordConfirmation", type="password", onkeyup="checkChangePass(this)")
        div.field
            label= langs.labelEmail
            class.ui.input.error
                input#email(name="email",onkeyup="updateInput(this)", value=user.email)
        div#zoneContent.required.field
            label= langs.labelSelectZone
            select#zoneDropdown.ui.dropdown(name="zoneDropdown",onchange="updateSelect(this)")
                option(value="")= "Zone"
        div.field
            button.ui.button= langs.buttonCreate
