extends layout

block extraHeadersAdmin
    link(rel="stylesheet", href="/css/admin/index.css")
    script(src="/js/admin/index.js")

block contentAdmin
    h4.ui.dividing.header= langs.titleZoneList
    div#listZone
        each zone in listZone
            h5.ui.dividing.header= zone.name
            div.ui.bulleted.list
                each line in zone.lines
                    div.item 
                        div.right.floated.content
                            div.ui.button(onClick="deleteLine('" + line.id + "')")= langs.buttonDelete
                        div.content 
                            span= langs.labelLine + ' '
                            span #{line.id.split('-')[1]} 
                            span (#{line.startStation.name} - #{line.endStation.name})
