extends ../layout

block extraHeaders
    link(rel="stylesheet", href="/css/admin/style.css")
    script(src="/js/admin/js.js")
    script.
      var noOnglet = "#{noOnglet}";
    block extraHeadersAdmin

block content
    div.ui.two.column.centered.grid
        div.column           
            div#Adminmenu.ui.top.attached.menu 
                a(class="item", id="menuHome", href="/"+langUsed+"/admin/")= langs.home
                a(class="item", id="menuLine", href="/"+langUsed+"/admin/line/add", onclick="test()")= langs.addLineMenu
                a(class="item", id="menuUser", href="/"+langUsed+"/admin/user/add")= langs.addUserMenu
                a(class="item", id="menuUser", href="/"+langUsed+"/admin/users")= langs.manageUserMenu
                a(class="item", id="menuValidationRemor", href="/"+langUsed+"/admin/remorques")= langs.manageTrailerMenu
                if userInformation.idRole == 3
                    a(class="item", id="menuZone", href="/"+langUsed+"/admin/zone")= langs.manageZoneMenu
                div(class="right menu")
                    div(class="item")
                        select.ui.dropdown(id="languageDropdown" onchange="changeLanguage(this)")
                            option(value="fr")= langs.langFrench
                            option(value="de")= langs.langGerman
                            option(value="en")= langs.langEnglish
                    div(class="item")
                        a(class="ui button", href="/" + langUsed + "/admin/logout")= langs.buttonLogout
            div.ui.attached.segment
                block contentAdmin