extends ../layout

block extraHeaders
    link(rel="stylesheet", href="/css/admin/style.css")
    script(src="/js/admin/js.js")
    block extraHeadersAdmin

block content
    div.ui.two.column.centered.grid
        div.column
            div.ui.top.attached.tabular.menu
                a(class="active item", id="menuHome", href="/"+langUsed+"/admin/")= langs.home
                a(class="item", id="menuLine", href="/"+langUsed+"/admin/line/add", onclick="test()")= langs.addLineMenu
                a(class="item", id="menuUser", href="/"+langUsed+"/admin/user/add")= langs.addUserMenu
                a(class="item", id="menuZone", href="/"+langUsed+"/admin/zone")= langs.manageZoneMenu
                a(class="item", id="menuUser", href="/"+langUsed+"/admin/users")= langs.manageUserMenu
                a(class="item", id="menuValidationRemor", href="/"+langUsed+"/admin/remorques")= langs.manageTrailerMenu
                a(class="item", href="/"+langUsed+"/admin/logout").ui.right.floated= 'Logout'
            div.ui.bottom.attached.segment  
                block contentAdmin