extends layout

block extraHeadersAdmin
    link(rel="stylesheet", href="/css/admin/manageUsers.css")
    script(src="/js/admin/manageUsers.js")


block contentAdmin
    div
        h4.ui.dividing.header= langs.titleTrailerManagement
        if trailers.length == 0
            div= langs.labelNoTrailer
        else
            table.ui.celled.table
                thead
                    tr
                        th= langs.labelDate
                        th= langs.labelLine
                        th= langs.labelNumberOfBikes
                        th= tableTitleAction
                each trailer in trailers
                    tbody
                        tr
                            td= trailer.startHour
                            td= trailer.idLine
                            td= trailer.nbBike
                            td
                                a.ui.button= langs.labelAllocateTrailer
                                a.ui.button.red= langs.labelDontAllocateTrailer

