extends layout


block extraHeadersClient
    script(src="/js/client/index.js")
    script(src="/calendar.js")
    link(rel="stylesheet", href="/calendar.css")
    link(rel="stylesheet", href="/css/client/index.css")

block contentClient
    h4.ui.dividing.header= langs.titleReservation
    if !listHoraire
        h3.ui.dividing.header= langs.titleWelcome
        p(align="center")= langs.resabikeDesc
        div.ui.hidden.divider
            button.ui.button.right.floated(onclick="helpButton()")= langs.helpButton
        form#formAdd.ui.form(method="post",action="/"+langUsed+"/book/add")
            div.required.field
                label= langs.labelDateOfReservation
                div(class="ui calendar" id="calendar")
                        input(type="text" placeholder="Date" name="date")
            div.required.field
                label= langs.labelNameForname
                class.ui.input
                    input(name="pseudo")
            div.required.field
                label= langs.labelEmail
                class.ui.input
                    input(name="email")
            div.required.field
                label= langs.labelNumberOfBikes
                class.ui.input
                    input(type="number" name="nbVelo" min=1 max=20)
            div.field
                label= langs.labelZoneChoice
                select(onchange="loadStation()")#zone.ui.search.dropdown(name="zone")
                    option(value="")= langs.labelZoneChoice
            div.field
                label= langs.labelDepartureChoice
                    div(class.="ui input left icon")
                select#depart.ui.search.dropdown(name="depart")
                    option(value="")= langs.labelDepartureChoice
            div.field
                label= langs.labelDestinationChoice
                select#destination.ui.search.dropdown(name="destination")
                    option(value="")= langs.labelDestinationChoice
            .field
                button.ui.button= langs.buttonValidate

        div.ui.modal
            i.close.icon
            div.header= langs.modalTitle
            div.image.content
                div.ui.image
                    img(src='/media/help.png')
                div.description
                    p= langs.helpDescription1
                    ul
                        li= langs.helpDescriptionList1
                        li= langs.helpDescriptionList2
                        li= langs.helpDescriptionList3
                        li= langs.helpDescriptionList4
                        li= langs.helpDescriptionList5
                        li= langs.helpDescriptionList6
                    p= langs.helpDescription2
            div.actions
                div.ui.positive.right.labeled.icon.button= langs.buttonClose

    else
        div.ui.two.column.grid
            div.column
                div= langs.labelFrom + ' '
                    b #{listHoraire[1][0].nameStationDeparture} 
                    span= langs.labelTo + ' '
                    b #{listHoraire[1][0].nameStationDestination}
                div= langs.labelFor + ' '
                    span #{listHoraire[0]['nbVelo']} 
                    span= langs.labelForBikeNumber + ' '
                    span #{listHoraire[0]['pseudo']}
            div.column
                a(href="/").ui.button.right.floated= langs.buttonNewBooking

        div#tripsList.ui.middle.aligned.divided.list
            each horaire in listHoraire[1]
                div.item
                    div.right.floated.content
                        div(onclick="reservation(this)").ui.button= langs.buttonBook
                    div.content
                        p= horaire.departure + ' - '
                            span= langs.duration + ' '
                            span= Math.floor(horaire.tripDuration/60) + ' '
                            span= langs.minutes
                        each trip in horaire.tripsInfo
                            div.infoTrip 
                                span#infoTripType #{trip.type} : 
                                span.depart #{trip.depart} 
                                span (
                                span.departTime= trip.departTime
                                span ) - 
                                span.sortie #{trip.sortie}
                                span  (#{trip.finTime}) : 
                                span= langs.remainingSeats 
                                if trip.nbPlaceRestant < 0
                                    span(data-tooltip= langs.administratorNeeded, style = "color:red") 0
                                else if trip.nbPlaceRestant - listHoraire[0]['nbVelo'] < 0
                                    span(data-tooltip= langs.administratorNeeded, style = "color:red") #{trip.nbPlaceRestant} 
                                else
                                    span #{trip.nbPlaceRestant} 
                                if trip.idLine != -1
                                    span(data-tooltip= langs.supportedLine)
                                        i.icon.check
                                else
                                    span(data-tooltip= langs.unsupportedLine, style="color:red")
                                        i.icon.remove
                                span.nbPlaceRestant #{trip.nbPlaceRestant}
                                span.idLine #{trip.idLine}
        form#hiddenForm(action="/"+langUsed+"/book/reserve",method="POST")
            input(type="text",name="bookPseudo",value=listHoraire[0]['pseudo'])
            input(type="text",name="bookEmail",value=listHoraire[0]['email'])
            input(type="text",name="bookNumber",value=listHoraire[0]['nbVelo'])
            input(type="text",name="bookIdStartStation",value=listHoraire[0]['depart'])
            input(type="text",name="bookIdEndStation",value=listHoraire[0]['destination'])
            input(type="text",name="bookIdZone",value=listHoraire[0]['zone'])
            input#nbLine(type="text",name="nbLine")

    