extends layout

block extraHeadersDriver
    script(src="/js/driver/index.js")
    link(rel="stylesheet", href="/css/driver/index.css")

block contentDriver

    a(href="/driver").ui.button= langs.buttonReturn

    h4.ui.dividing.header= langs.titleTripsWithBikes
    table.ui.celled.table
        thead
            tr
                th= langs.tableTitleEnterStation
                th= langs.tableTitleExitStation 
                th= langs.labelNumberOfBikes
                th= langs.tableTitleName
        each info in list
            tbody
                tr
                    td= info.startStationTrip.name
                    td= info.endStationTrip.name
                    td= info.book.number
                    td= info.book.pseudo