extends layout

block extraHeadersDriver
    script(src="/js/driver/index.js")
    link(rel="stylesheet", href="/css/driver/index.css")

block contentDriver

    form.ui.form(method="POST", action="/driver")
        h4.ui.dividing.header Selection de la ligne
        div#zoneContent.required.field
            label Selectionnez la ligne
            select#lineDropdown.ui.dropdown(name="lineDropdown",onchange="updateSelect(this)")
                option(value="")= "Ligne"
        .field
            button.ui.button Valider

    if listTrips
        h4.ui.dividing.header Voyages ayant des vélos
        table.ui.celled.table
            thead
                tr
                    th Heure de départ
                    th Station de départ
                    th Station d'arrivée
                    th Nombre de vélos
                    th Remorques
                    th Actions
            each trip in listTrips
                tbody
                    tr
                        td= trip.startHour
                        td= trip.line.startStation.name
                        td= trip.line.endStation.name
                        td= trip.nbBike
                        if trip.trailerUsed
                            td Oui
                        else 
                            td Non
                        td 
                            a.ui.button Détails