extends layout

block extraHeadersDriver
    script(src="/js/driver/index.js")
    link(rel="stylesheet", href="/css/driver/index.css")

block contentDriver

    form.ui.form(method="POST", action="/driver")
        h4.ui.dividing.header= langs.titleSelectLine
        div#zoneContent.required.field
            label= langs.titleSelectLine
            select#lineDropdown.ui.dropdown(name="lineDropdown",onchange="updateSelect(this)")
                option(value="")= langs.labelLine
        .field
            button.ui.button= langs.buttonValidate

    if listTrips
        h4.ui.dividing.header= langs.titleTripsWithBikes
        table.ui.celled.table
            thead
                tr
                    th= langs.tableTitleStartHour
                    th= langs.tableTitleStartStation
                    th= langs.tableTitleEndStation
                    th= langs.labelNumberOfBikes
                    th= langs.tableTitleTrailer
                    th= langs.tableTitleAction
            each trip in listTrips
                tbody
                    tr
                        td= trip.startHour
                        td= trip.line.startStation.name
                        td= trip.line.endStation.name
                        td= trip.nbBike
                        if trip.trailerUsed
                            td= langs.labelYes
                        else 
                            td= langs.labelNo
                        td 
                            a(href="/driver/details/"+trip.id).ui.button= langs.buttonDetails